NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://sidd:qnOtfTgSjSgLtKbU@ac-vazekw5-shard-00-00.zlq3wqs.mongodb.net:27017,ac-vazekw5-shard-00-01.zlq3wqs.mongodb.net:27017,ac-vazekw5-shard-00-02.zlq3wqs.mongodb.net:27017/?ssl=true&replicaSet=atlas-jfkcxh-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=89d06f751c44dd0e9e723b09ef264e54e47e99f0cb89803b47d75da85c3d834f2b949bed6fc3facc2786f6c1a4b5c67d5acef0d92ab54c9a7fef7e2eea4bd09d
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12

# Comma-separated (use * for dev)
CORS_ORIGIN=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=dvvwbie1z
CLOUDINARY_API_KEY=382822268241532
CLOUDINARY_API_SECRET=CYgy1W0Am5XZIbZ_xXcIEcZ0dmY

